<h1><%= @patient.name %></h1>
<hr />
<h2>Patients</h2>
<ul>
  <% @patient.physicians.each do |physician| %>
    <li>
      <%= link_to physician.name, physician %>
    </li>
  <% end %>
</ul>
<br />
<br />
<br />
<%= link_to 'Delete Patient', @patient, method: :delete, class: "ui red button inverted" %>