<h1><%= @physician.name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_physician_appointment_path(@physician ) %>
<hr />
<ul>
  <% @patient.each do |patient| %>
    <li>
      <%= patient.name %>
      <br />
      <%= link_to 'Remove', physician_appointment_path(@physician), method: :delete %>
    </li>
  <% end %>
</ul>